.cart__container{
    flex: 1 1 ;
    margin-bottom: 1.5rem!important;   
}

.cart__container-empty{
    flex: 1 1 ;
    margin-bottom: 1.5rem!important;   
}




.cart {  
    flex: 1 ;
    padding: 20px 20px;
    margin: 0 0 0 30px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;   
        &--mobile{
        flex: 1 1;
        padding: 20px 20px;
        margin: 0 0 0 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start; 
        }
}

.cart__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem; 
}

.cart__title{   
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
    text-align: start;
}

.cart__item{
    width: 100%;
    display: flex;
    // flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0.75rem;
}

.cart__img{    
    height: 100px;
    flex:1
}

.cart__info{
    flex:2.4;   
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
}


.cart__discr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 0.9rem;
    color: lightgray;
}

.cart__calc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__counter{
    display: flex;
}

.cart__price{
    font-weight: 700;
    font-size: 1.2rem;
}

.cart__counter-wrapper{
    font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 4px;
	width: 120px;
	display: flex;
	font-size: 1rem;
	height: 24px;
	overflow: hidden;
}

.cart__counter__control {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.cart__counter__control:hover {
    background: #eb5a1e;
    color: #FFF;
}

.cart__counter__current {
	width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid rgb(197, 191, 191);
    border-right: 2px solid rgb(197, 191, 191);
}

.cart__empty{
    width: 100%;
    height: 40px;
    background-color: lightgray;
    font-weight:  700;
    font-size: 1.2rem;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.cart__total, .cart__transfer{
    margin-bottom: 0; 
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.3rem;
}

.cart__total{
    margin: 10px 0;
}

.cart__free{
 color: rgb(26, 148, 26);
}

.cart__box{
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0.75rem;
    width: 100%;
    text-align: left;
   
}
.cart__small{
    font-size: 0.8rem;
   
   
}
.cart__delete {
    color:#fff;
    background-color: brown;
    border-radius: 50%;
    cursor:pointer;
}


.cart--mobile{
    position: fixed;
    top:0;
    right:0;
    width: 90%;    
    height: 100%;
    overflow: auto;
    transform: translateX(100%);
    transition: all 0.2s;
    padding: 0 10px;
}

.cart__item--mobile{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0.75rem;
}

.cart--mobile.active{
   
    transform: translateX(0);
}

.cart__head--mobile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.cart__item-title--mobile{
    font-size: 0.8rem;
}

.cart__head--mobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.cart__info--mobile{
    flex:2.4;   
    display: flex;
    flex-direction: column;
    padding: 0 0 0 10px;
}

.cart__calc--mobile{
    display: flex;
    justify-content:end;
    align-items: center;
}

.cart__counter-wrapper--mobile{
    font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 4px;
	width: 180px;
	display: flex;
	font-size: 1rem;
	height: 24px;
	overflow: hidden;
}

.cart__counter__control--mobile {
	width: 50px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
}

.cart__counter__control:hover {
    background: #eb5a1e;
    color: #FFF;
}

.cart__counter__current--mobile {
	width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid rgb(197, 191, 191);
    border-right: 2px solid rgb(197, 191, 191);
}

.cart__footer--mobile{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0 0 10px 0;
}