.header-container{
    width: $container-width;
    padding: 20px $container-padding;
    // display: flex;
   
    
   }
   
   
   .header-container__display{
       font-size: 3.5rem;
       font-weight: 300;
       line-height: 1.2;
   }

   .header-container__lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
   }